<h1>List of Instruments</h1>
<table border='1'>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Description</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product&.category.titleize %></td>
      <td><%= product.description %></td>
    </tr>
  <% end %>
</table>